<<<<<<< HEAD
body {
    font-family: 'Arial';
}
=======
body { 
    font-family: 'Arial';
}
.header .navigation {
    float:right;
    width:80%;
    text-align:right;
  }

  .container {
    max-width:960px;
    width:calc(100% - 20px);
    padding:0 10px;
    margin:0 auto;
    color: black;
  }

>>>>>>> 8af02cc7b30e05d08efabc4f614cf15050c539e0
