body { 
    font-family: 'Arial';
}
.header .navigation {
    float:right;
    width:80%;
    text-align:right;
  }

  .container {
    max-width:960px;
    width:calc(100% - 20px);
    padding:0 10px;
    margin:0 auto;
  }

