/* background */

body{
  background-image: 
   linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.7)),
   url("parking4.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   
} 
/* body of webpage */
.text{
   text-align: center;
   font-size: 22px;
   color: white;
   font-family: 'Helvetica Neue';
   font-weight: 500;
   position:relative;
   top: 30%;
} 

.container{
   width: 80%;
   margin: 0 auto;
}

/* navigation bar */
.nav {
   background-color: black;
   overflow: hidden;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;

}

.nav a{
   float: right;
   color: #f2f2f2;
   text-decoration: none;
   font-family: 'Helvetica Neue';
   font-weight: 600;
   transition: 0.5s;

}
.nav .options a{
   float: right;
   color: #f2f2f2;
   text-decoration: none;
   font-family: 'Helvetica Neue';
   font-weight: 500;
   padding: 30px 20px;

}
.nav .logo{
   float: left;
   color: white;
   position: relative;
   font-family: 'Helvetica Neue';
   padding: 0 10px;
}



.nav a:hover {
   color: rgb(14, 124, 0);
   text-underline-position: auto;
   transition: 0.5s;
}

.nav a:hover {
   color: rgb(14, 124, 0);
   text-underline-position: auto;
   transition: 0.5s;
}

/* buttons at the bottom of page for easier navigation */

.button {
   display:inline-block;
   background:rgb(14,124,0);
   padding:10px 20px;
   border-radius:5px;
   text-decoration:none;
   color:white;
   text-align: center;
   margin: 50px;
   font-size: 17px;

}

.button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}

.button span:after {
   content: '\00bb';
   position: absolute;
   font-weight: 30;
   opacity: 0;
   top: -12;
   right: -20px;
   transition: 0.5s;
   font-size: 35px;
}

.button:hover span {
   padding-right: 25px;
}

.button:hover span:after {
   opacity: 1;
   right: 0;
}

/* About page body */
.text .about{
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.text .about p{

  font-weight: 300;
  
}

.text .about .button {

  float: right;
  
}

/* pricing page table */

.pricing th{
   font-size: 20px;
   background-color: rgb(14,124,0);
}

.pricing td{
   font-size: 15px;
}

.pricing table{
   width: 55%;
   border-collapse: collapse;
}


.pricing th, td, tr{
   color: white;
   top: 50px;
   left: 100px;
   padding: 15px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
   
}
.pricing tr:nth-child(even) td {
   background:#8e8e8e;
 }

.pricing tr:nth-child(odd) td {
   background:#b6bbb4;
 }
 
/* Team page table */

.teamText {

   font-size: 22px;
   color: white;
   font-family: 'Helvetica Neue';
   font-weight: 500;
   position:relative;
   top: 30%;
   text-align: left;
   width: 80%;
   margin: 0 auto;
   top: 15%;

}

.teamText .about .tTable .description {
  
    text-align: left;
}

.text .about .tTable{
  border: 3px rgb(14,124,0);
}


 
